<h2><%= @movimento.tipo %>: <%= @movimento.titulo %></h2>
<%= error_messages_for 'movimento' %>

<% form_for 'movimento', :url => {:action => 'update', :id => @movimento} do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>